@using Microsoft.AspNetCore.Identity;
@using WebApplication1.Data;


@if (User.Identity.IsAuthenticated)
{
    // Nếu người dùng đã đăng nhập
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="rd-nav-item">
            @{
                if (User.FindFirst("Username") != null)
                {
                    string fullName = User.FindFirst("Username").ToString();
                    var parts = fullName.Split(':');
                    if (parts.Length == 2)
                    {
                        fullName = parts[1].Trim();
                    }
                    @Html.ActionLink("Xin Chào " + fullName + "!", "Updata", "Account", new { area = "" }, htmlAttributes: new { title = "Manage", @class = "rd-nav-link" })
                }
            }
        </li>
        <li class="rd-nav-item"><a class="rd-nav-link" href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a></li>
    }
}
else
{
    <li style="padding-left:20px" class="rd-nav-item">@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "rd-nav-link" })</li>
    <li class="rd-nav-item">@Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "rd-nav-link" })</li>
}

